In [1]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\skish\Downloads\Heart_Disease_Prediction.csv")

In [2]:
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2,3,3,Presence
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2,0,7,Absence
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1,0,7,Presence
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2,1,7,Absence
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1,0,7,Absence
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1,0,7,Absence
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2,0,3,Absence
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2,0,6,Absence
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2,3,3,Presence

In [3]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2,3,3,Presence
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2,0,7,Absence
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1,0,7,Presence
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2,1,7,Absence
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1,1,3,Absence

In [4]:
df.tail()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1,0,7,Absence
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1,0,7,Absence
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2,0,3,Absence
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2,0,6,Absence
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2,3,3,Presence

In [5]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [6]:
df.shape

(270, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       268 non-null    float64
 4   Cholesterol              268 non-null    float64
 5   FBS over 120             268 non-null    float64
 6   EKG results              268 non-null    float64
 7   Max HR                   268 non-null    float64
 8   Exercise angina          268 non-null    float64
 9   ST depression            268 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(7), int64(6), object(1)
memory usage: 29.7+ KB

In [8]:
df.isnull()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
#data preprocessing
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         2
Cholesterol                2
FBS over 120               2
EKG results                2
Max HR                     2
Exercise angina            2
ST depression              2
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [10]:
#data preprocessing
df=df.dropna()

In [11]:
#data preprocessing
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [12]:
#feature extraction

x = df [["Cholesterol","ST depression"]]
x

     Cholesterol  ST depression
0          322.0            2.4
1          564.0            1.6
2          261.0            0.3
3          263.0            0.2
4          269.0            0.2
..           ...            ...
265        199.0            0.5
266        263.0            0.0
267        294.0            1.3
268        192.0            0.4
269        286.0            1.5

[268 rows x 2 columns]

In [13]:
#feature extraction
y = df [["Heart Disease"]]
y

    Heart Disease
0        Presence
1         Absence
2        Presence
3         Absence
4         Absence
..            ...
265       Absence
266       Absence
267       Absence
268       Absence
269      Presence

[268 rows x 1 columns]

In [14]:
df["Heart Disease"].value_counts()

Heart Disease
Absence     148
Presence    120
Name: count, dtype: int64

In [15]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\skish\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\skish\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\skish\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\skish\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\skish\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [16]:
import sklearn

In [17]:
#model creation

from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

In [18]:
xtrain.shape

(214, 2)

In [19]:
xtest.shape

(54, 2)

In [20]:
ytrain.shape

(214, 1)

In [21]:
ytest.shape

(54, 1)

In [22]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [23]:
clf.fit(xtrain,ytrain)

C:\Users\skish\AppData\Local\Temp\ipykernel_21796\3000261254.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(xtrain,ytrain)

RandomForestClassifier()

In [24]:
clf.feature_importances_

array([0.58234406, 0.41765594])

In [25]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [26]:
ypred=clf.predict(xtest)

In [27]:
ypred

array(['Presence', 'Absence', 'Absence', 'Absence', 'Presence',
       'Presence', 'Presence', 'Absence', 'Absence', 'Absence', 'Absence',
       'Presence', 'Absence', 'Absence', 'Absence', 'Absence', 'Absence',
       'Presence', 'Absence', 'Absence', 'Absence', 'Presence', 'Absence',
       'Absence', 'Absence', 'Presence', 'Presence', 'Absence',
       'Presence', 'Absence', 'Presence', 'Absence', 'Presence',
       'Absence', 'Presence', 'Presence', 'Presence', 'Presence',
       'Absence', 'Absence', 'Presence', 'Absence', 'Absence', 'Presence',
       'Presence', 'Absence', 'Presence', 'Presence', 'Absence',
       'Absence', 'Absence', 'Presence', 'Presence', 'Absence'],
      dtype=object)

In [28]:
from sklearn.metrics import accuracy_score
score=accuracy_score(ytest,ypred)
score

0.6666666666666666

In [29]:
prediction=clf.predict([[263.0,0.2]])
print(prediction)

['Absence']

C:\Users\skish\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [30]:
#decision tree algorithm

from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(xtrain,ytrain)
ypred=dtc.predict(xtest)
score=accuracy_score(ytest,ypred)
print(score)

0.7037037037037037

In [34]:
prediction=dtc.predict([[263.0,0.2]])
print(prediction)

['Absence']

C:\Users\skish\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(